@define-color primary #6090ff;

window,
window > list,
window > list > row {
  padding: 0px;
  background: none;
}

window {
  border: solid 10px @primary;
}

window > list > row > label {
  background-color: alpha(black, 0.5);
  color: @primary;
  font-size: 80px;
  padding: 5px 40px;
  border-bottom: solid 5px @primary;
}

window > list > row:last-child > label {
  border-bottom: none;
}
